/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /* Home logo */
    img[alt="Title image"] {
        width: 250px;
        margin-bottom: 40px;
    }
    /* Home logo */
    /* Home large button */
    h1.home-title {
        font-size: 35px;
    }
    /* Home large button */
    /* Home center text */
    p.home-p {
        font-size: 20px;
        line-height: 30px;
    }
    /* Home center text */
    /* Home start game button */
    .home-a {
        font-size: 24px;
    }
    /* Home start game button */
    /* Home rows */
    .home-container-fluid .row {
        padding-bottom: 85px;
    }
    /* Home rows */
    /* Home bottom text */
    .footer-p {
        font-size: 25px;
    }
    /* Home bottom text */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    /* Home banner */
    h1.home-title {
        font-size: 30px;
        padding: 20px;
        letter-spacing: 1px;
        border-radius: 10px;
    }
    /* Home banner */
    /* Home bottom text */
    .footer-p {
        font-size: 18px;
    }
    /* Home bottom text */
    /* Home top padding */
    .logo-row {
        padding-top: 12%;
    }
    /* Home top padding */
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    /* Home p */
    p.home-p {
        width: 90%;
    }
    /* Home p */
    /* Home banner */
    h1.home-title {
        padding: 20px 50px;
    }
    /* Home banner */
    /* Home game start */
    .home-a {
        font-size: 26px;
        border-radius: 6px;
        padding: 15px 50px;
    }
    /* Home game start */
    /* Home bottom text */
    .footer-p {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    /* Home bottom text */
}

@media only screen and (max-width : 560px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    /* Home logo */
    img[alt="Title image"] {
        width: 200px;
        margin-bottom: 0;
    }
    /* Home logo */
    /* Home banner */
    h1.home-title {
        padding: 16px;
        font-size: 27px;
        margin-bottom: 0;
        border-radius: 5px;
    }
    /* Home banner */
    /* Home top padding */
    .home-container-fluid .row {
        padding-bottom: 30px;
    }
    /* Home top padding */
    /* Home center text */
    p.home-p {
        width: 100%;
        background: #f14100a8;
        text-align: left;
        font-size: 18px;
        line-height: normal;
    }
    /* Home center text */
    /* Home game start */
    .home-a {
        font-size: 20px;
        border-radius: 6px;
        padding: 15px 30px;
        letter-spacing: 1px;
    }
    /* Home game start */
    /* Home bottom text */
    .footer-p {
        font-size: 16px;
        letter-spacing: 0;
    }
    /* Home bottom text */
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
