/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /* Home logo */
    img[alt="Title image"] {
        width: 250px;
        margin-bottom: 40px;
    }
    /* Home logo */
    /* Home large button */
    h1.home-title {
        font-size: 35px;
    }
    /* Home large button */
    /* Home center text */
    p.home-p {
        font-size: 20px;
        line-height: 30px;
    }
    /* Home center text */
    /* Home start game button */
    .home-a {
        font-size: 24px;
    }
    /* Home start game button */
    /* Home rows */
    .home-container-fluid .row {
        padding-bottom: 85px;
    }
    /* Home rows */
    /* Home bottom text */
    .footer-p {
        font-size: 25px;
    }
    /* Home bottom text */

    /* Game start timer & result block */
    .timer-col {
        text-align: right;
    }
    .list-inline.timer-score {
        margin-left: 0;
        margin-bottom: 0;
    }
    .list-inline.timer-score li {
        margin-right: 3px;
    }
    .list-inline.timer-score li:nth-child(1) > img {
        width: 40px;
        margin-top: -10px;
    }
    .list-inline.timer-score li:nth-child(even) {
        font-size: 28px;
    }
    .list-inline.timer-score li:nth-child(3) {
        font-size: 30px;
    }
    /* Game start timer & result block */
    /* Game start question number */
    .question-number {
        font-size: 34px;
    }
    .question-p {
        padding-bottom: 15px;
        padding-top: 20px;
    }
    .question {
        font-size: 28px;
    }
    /* Game start question number */
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    /* Home banner */
    h1.home-title {
        font-size: 30px;
        padding: 20px;
        letter-spacing: 1px;
        border-radius: 10px;
    }
    /* Home banner */
    /* Home bottom text */
    .footer-p {
        font-size: 18px;
    }
    /* Home bottom text */
    /* Home top padding */
    .logo-row {
        padding-top: 12%;
    }
    /* Home top padding */

    /* Game start page */
    .answers-img-block {
        width: 100%;
        height: 185px;
        border: 3px solid #f14100;
    }
    .question {
        font-size: 22px;
    }
    /* Game start page */
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    /* Home p */
    p.home-p {
        width: 90%;
    }
    /* Home p */
    /* Home banner */
    h1.home-title {
        padding: 20px 50px;
    }
    /* Home banner */
    /* Home game start */
    .home-a {
        font-size: 26px;
        border-radius: 6px;
        padding: 15px 50px;
    }
    /* Home game start */
    /* Home bottom text */
    .footer-p {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    /* Home bottom text */

    /*start page volaball*/
    .row-bg > img:nth-child(3) {
        right: 0;
    }
    /*start page volaball*/
    /*start page buttons*/
    .list-group.home-list li {
        z-index: 2;
    }
    /*start page buttons*/
    /*start page h1*/
    h1 {
        font-size: 2rem;
        margin-bottom: 70px;
    }
    /*start page h1*/
    /*start page logo*/
    img[alt="Title image"] {
        margin-bottom: 60px;
    }
    /*start page logo*/
    /*start page buttons list*/
    .list-group.home-list {
        margin-bottom: 0;
    }
    /*start page buttons list*/

    /* Game page */
    .col-sm-12.col-md-5.col-lg-5 {
        text-align: center;
    }
    .timer-col {
        text-align: center;
    }
    .list-inline.timer-score {
        border-top: 1px solid #f14100;
        margin-bottom: 25px;
    }
    .question-number {
        font-size: 30px;
    }
    .question {
        font-size: 18px;
    }
    .answers-img-block {
        width: 250px;
        height: 250px;
    }
    #dynamic-row div:nth-child(3) {
        margin-bottom: 45px;
    }
    /* Game page */

}

@media only screen and (max-width : 560px) {
    /* Leaders page */
    img[alt="Title image"] {
        width: 200px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .liders-block {
        padding: 20px 0;
    }
    .list-group.liders-list li {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .liders-block h2 {
        margin-bottom: 20px;
    }
    /* Leaders page */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    /* Home logo */
    img[alt="Title image"] {
        width: 200px;
        margin-bottom: 0;
    }
    /* Home logo */
    /* Home banner */
    h1.home-title {
        padding: 16px;
        font-size: 27px;
        margin-bottom: 0;
        border-radius: 5px;
    }
    /* Home banner */
    /* Home top padding */
    .home-container-fluid .row {
        padding-bottom: 30px;
    }
    /* Home top padding */
    /* Home center text */
    p.home-p {
        width: 100%;
        background: #f14100a8;
        text-align: left;
        font-size: 18px;
        line-height: normal;
    }
    /* Home center text */
    /* Home game start */
    .home-a {
        font-size: 20px;
        border-radius: 6px;
        padding: 15px 30px;
        letter-spacing: 1px;
    }
    /* Home game start */
    /* Home bottom text */
    .footer-p {
        font-size: 16px;
        letter-spacing: 0;
    }
    /* Home bottom text */


    /* Start page */
    .row-bg {
        min-height: 85vh;
        padding: 20px 0;
        border-radius: 30px;
    }
    img[alt="Title image"].home-logo {
        width: 200px;
        margin-bottom: 0;
    }
    h1 {
        font-size: 1.4rem;
        margin-bottom: 35px;
        margin-top: 30px;
    }
    .list-group.home-list li {
        margin-bottom: 40px;
        background: #f14100;
        padding: 15px 0;
        border-radius: 5px !important;
    }
    .list-group.home-list li a {
        font-size: 18px;
    }
    .toto-link {
        font-size: 20px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
    .row-bg > img:nth-child(3) {
        right: 1px;
    }
    /* Start page */

    /* Leaders page */
    .liders-block h2 {
        font-size: 1.6rem;
    }
    .list-group.liders-list li {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0;
    }
    .list-group.liders-list li a {
        font-size: 16px;
    }
    img[alt="Title image"] {
        margin-bottom: 25px;
    }
    .liders-block {
        margin-bottom: 75px;
    }
    /* Leaders page */

    /* Regulations page */
    .regulations-title {
        font-size: 1.4rem;
    }
    .regulations-p {
        padding: 5px;
        text-align: left;
        font-variant: none;
        font-size: 14px;
        letter-spacing: 0;
    }
    /* Regulations page */

    /* Game page */
    .list-inline.timer-score li:nth-child(1) > img {
        width: 35px;
    }
    .list-inline.timer-score {
        margin-top: 0;
    }
    .list-inline.timer-score li:nth-child(even) {
        width: 55px;
        padding: 8px 0;
        font-size: 24px;
    }
    .list-inline.timer-score li:nth-child(3) {
        font-size: 20px;
    }
    .question-number {
        font-size: 22px;
    }
    /* Game page */
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
