@font-face {
    font-family: 'noto_sans_armenianXCnBd';
    src: url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.eot');
    src: url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.woff2') format('woff2'),
    url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.woff') format('woff'),
    url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_armenianXCnXBd';
    src: url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.eot');
    src: url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.woff2') format('woff2'),
    url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(../images/body-bg.jpg) center / cover no-repeat;
    font: bold 14px 'noto_sans_armenianXCnXBd', sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.row-bg {
    min-height: 90vh;
    padding: 30px;
    border: 5px solid #f14100;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

/* home page */
.row-bg > img {
    position: absolute;
}
.row-bg > img:nth-child(1) {
    width: 120px;
    height: 120px;
    top: 22%;
    left: 7%;
}
.row-bg > img:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 70%;
    left: 10%;
}
.row-bg > img:nth-child(5) {
    width: 40px;
    top: 25%;
    right: 21%;
}
.row-bg > img:nth-child(3) {
    width: 130px;
    height: 130px;
    top: 60%;
    left: 90%;
}
.row-bg > img:nth-child(4) {
    width: 230px;
    height: 220px;
    top: 25%;
    right: 10%;
}
img[alt="Title image"] {
    width: 320px;
    margin-bottom: 45px;
}
h1 {
    color: #fff;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.list-group.home-list {
    margin-bottom: 40px;
}
.list-group.home-list li {
    margin-bottom: 55px;
    background: #f14100;
    padding: 24px 30px;
    border-radius: 15px!important;
}
.list-group.home-list li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    outline: none;
}
.toto-link {
    color: #ffff;
    font-size: 30px;
    font-style: italic;
    outline: none;
}
.toto-link-span {
    color: #f14100;
}
.toto-link:hover {
    color: #fff;
    text-decoration: none;
}
.toto-link:hover > .toto-link-span {
    color: #f14100;
}
/* home page */

/* liders page */
.list-group.liders-list li {
    background: transparent;
    border-radius: 0;
    border: none;
    text-align: left;
    padding: 7px 10px;
    border-bottom: 1px solid transparent;
}
.list-group.liders-list li:hover {
    border-bottom: 1px solid #fff;
}
.list-group.liders-list li a {
    outline: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.list-group.liders-list li a:hover {
    text-decoration: none;
}
.liders-block {
    background: #f14100;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
}
.liders-block h2 {
    color: #fff;
    font-weight: bold;
}
/* liders page */

/* Timer & Score */
.list-inline.timer-score {
    margin-top: -30px;
    margin-left: 60px;
}
.list-inline.timer-score li:nth-child(even) {
    background: #f14100;
    color: #fff;
    font-size: 34px;
    width: 65px;
    border-radius: 0 0 10px 10px;
    padding: 13px 5px;
    text-align: center;
}
.list-inline.timer-score li:nth-child(3) {
    color: #fff;
    font-size: 48px;
    font-weight: normal;
}
.list-inline.timer-score li:nth-child(1) > img {
    width: 55px;
    margin-top: -25px;
}
/* Timer & Score */

/* Question number */
.question-number {
    color: #fff;
    font-size: 40px;
    background: #f14100;
    padding: 5px;
    border-radius: 6px;
}
.question {
    color: #fff;
    font-size: 34px;
    border-bottom: 3px solid #f14100;
    text-align: center;
    text-transform: uppercase;
}
.question-p {
    padding-bottom: 15px;
}
/* Question number */

div[data-truth="1"]:focus > div,
div[data-truth="1"]:active > div {
    border: 5px solid lawngreen;
}
.answers-img-block {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid #f14100;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 35px;
}
.answers-img-block > img {
    width: 100%;
    height: 100%;
}
.btn.btn-warning.btn-block {
    background: #f14100;
    border-color: #f14100;
    color: #fff;
    font-size: 22px;
}
.btn.btn-warning.btn-block:hover,
.btn.btn-warning.btn-block:focus,
.btn.btn-warning.btn-block:active {
    background: #f14100!important;
    border-color: #f14100!important;
    color: #fff!important;
    box-shadow: 0 0 0 0.2rem rgba(241, 65, 0, 0.5);
}



.score-p {
    width: 140px;
    border: 1px solid #f14100;
    background: #f14100;
    border-radius: 10px;
    margin: 30px auto 15px auto;
    padding: 5px 0;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
}
.out-score {
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
}
.liders-a {
    display: inline-block;
    background: #f14100;
    padding: 24px 60px;
    margin-top: 30px;
    border-radius: 15px!important;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
}
.liders-a:hover,
.liders-a:focus,
.liders-a:active {
    color: #fff;
    text-decoration: none;
}
.liders-a + a {
    display: inline-block;
    margin-top: 170px;
}


.regulations-p {
    background: #f14100;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    font-variant: all-petite-caps;
    font-size: 18px;
    letter-spacing: 1px;
}
.regulations-title {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
