@font-face {
    font-family: 'noto_sans_armenianXCnBd';
    src: url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.eot');
    src: url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.woff2') format('woff2'),
    url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.woff') format('woff'),
    url('../fonts/bold/notosansarmenian-extracondensedbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_armenianXCnXBd';
    src: url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.eot');
    src: url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.woff2') format('woff2'),
    url('../fonts/extra-bold/notosansarmenian-extracondensedextrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(../images/body-bg.jpg) center / cover no-repeat;
    font: bold 14px 'noto_sans_armenianXCnXBd', sans-serif;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    position: relative;
}

.row-bg {
    min-height: 90vh;
    padding: 30px 30px 0 30px;
    border: 5px solid #f14100;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.sportin-mot-block{
    text-align: center;
}

.sportin-mot-block p{
    font-size: 32px;
    word-spacing: 10px;
    color: white;
    margin: 25px 0 0 0;
}

/* home page */
.home-container-fluid {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    position: relative;
    perspective: 300px;
    overflow: hidden;
}

.home-container-fluid > img {
    position: absolute;
}

div[class^="col"].text-center {
    z-index: 1;
    padding: 0;
}

.football-img {
    left: 5%;
    top: 10%;
    width: 150px;
    animation: ballsRotation 3s linear infinite 1s;
}

.basketball-img {
    left: 5%;
    bottom: 10%;
    width: 150px;
    animation: ballsRotation 3s linear infinite alternate .5s;
}

.volley-ball {
    right: 5%;
    bottom: 10%;
    width: 150px;
    animation: ballsRotation 3s linear infinite reverse;
}

@keyframes ballsRotation {
    from {
        transform: translate3d(0, 0, 0) rotate(0);
    }
    50% {
        transform: translate3d(-100px, 50px, -225px) rotate(180deg);
    }
    to {
        transform: translate3d(0, 0, 0) rotate(360deg);
    }
}

.tennis {
    right: 5%;
    top: 20%;
    width: 250px;
    transform-origin: left bottom;
    animation: tennis 3s linear infinite;
}

@keyframes tennis {
    from {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0);
    }
    to {
        transform: rotate(30deg);
    }
}

.tennis-ball {
    right: 15%;
    top: 20%;
    width: 40px;
    animation: tennisball 3s linear infinite;
}

@keyframes tennisball {
    from {
        transform: translate3d(0, 0, 0) scale(1.2);

    }
    50% {
        transform: translate3d(320px, 15px, -70px);

    }
    to {
        transform: translate3d(0, 0, 0) scale(1.2);

    }
}

.logo-row {
    padding-top: 6%;
}

.home-container-fluid .row {
    padding-bottom: 30px;
}

h1.home-title {
    background: #f14100;
    display: inline-block;
    text-align: center;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 0;
}

p.home-p {
    color: #fff;
    font-size: 28px;
    text-align: center;
    display: inline-block;
    width: 50%;
    letter-spacing: 1px;
    padding: 15px;
    margin-bottom: 0;
}

.home-a {
    background: #f14100;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 15px 30px;
}

.home-a:hover,
.home-a:active {
    text-decoration: none;
    color: #fff;
}

.footer-p {
    position: absolute;
    margin: 0;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
}

/* home page */

/* Start-page */
.center-container {
    perspective: 300px;
}

.row-bg > img {
    position: absolute;
    width: 100px;
}

.row-bg > img:nth-child(2) {
    bottom: 15%;
    left: 10%;
    animation: basketAnimate 1.5s linear infinite;

}

@keyframes basketAnimate {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(87px) scaleX(1.1);
    }
    to {
        transform: translateY(0);
    }
}

.row-bg > img:nth-child(1) {
    top: 12%;
    left: 7%;
    animation: footbalAnimate 5s linear infinite;
}

@keyframes footbalAnimate {
    from {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(150px, 100px, -50px) rotate(360deg);
    }
    to {
        transform: translate3d(0, 0, 0) rotate(0deg);
        z-index: 1;
    }
}

.row-bg > img:nth-child(3) {
    bottom: 10%;
    right: 0;
    animation: volAnimate 5s linear infinite;
}

@keyframes volAnimate {
    from {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    50% {
        transform: translate3d(-150px, -100px, -150px) rotate(360deg);
    }
    to {
        transform: translate3d(0, 0, 0) rotate(0deg);
        z-index: 1;
    }
}

.row-bg > img:nth-child(5) {
    width: 40px;
    top: 32%;
    right: 5%;
    animation: volAnimate 5s linear infinite 2s;
}

.row-bg > img:nth-child(4) {
    width: 230px;
    height: 220px;
    top: 23%;
    right: 5%;
    transform-origin: left bottom;
    animation: tennis 4s linear infinite;
}

img[alt="Title image"] {
    width: 320px;
    margin-bottom: 45px;
}

h1 {
    color: #fff;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.list-group.home-list {
    margin-bottom: 40px;
}

.list-group.home-list li {
    margin-bottom: 40px;
    background: #f14100;
    padding: 24px 30px;
    border-radius: 15px !important;
}

.list-group.home-list li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    outline: none;
}

.toto-link {
    color: #ffff;
    font-size: 30px;
    font-style: italic;
    outline: none;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.toto-link-span {
    color: #f14100;
}

.toto-link:hover {
    color: #fff;
    text-decoration: none;
}

.toto-link:hover > .toto-link-span {
    color: #f14100;
}

/* Start-page */

/* liders page */
.list-group.liders-list li {
    background: transparent;
    border-radius: 0;
    border: none;
    text-align: left;
    padding: 7px 10px;
    border-bottom: 1px solid transparent;
}

.list-group.liders-list li:hover {
    border-bottom: 1px solid #fff;
}

.list-group.liders-list li a {
    outline: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5px;
    display: inline-block;
    width: 100%;
}

.list-group.liders-list li a span {
    float: right;
}

.list-group.liders-list li a:hover {
    text-decoration: none;
}

.liders-block {
    background: #f14100;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

.liders-block h2 {
    color: #fff;
    font-weight: bold;
    margin: 0;
}

/* liders page */

/* Timer & Score */
.list-inline.timer-score {
    margin-top: -30px;
    margin-left: 60px;
}

.list-inline.timer-score li:nth-child(even) {
    background: #f14100;
    color: #fff;
    font-size: 28px;
    width: 70px;
    border-radius: 0 0 10px 10px;
    padding: 19px 5px;
    text-align: center;
}

.list-inline.timer-score li:nth-child(3) {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

.list-inline.timer-score li:nth-child(1) > img {
    width: 41px;
    margin-top: -12px;
}

.score-page-a {
    background: #f14100;
    padding: 27px 30px 24px;
    border-radius: 15px;
    border-color: #f14100;
    font-size: 40px;
    width: 380px;
    display: inline-block;
    color: white!important;
    text-decoration: none;
}

.score-page-a-fluid{
    padding: 0!important;
}

.score-page-a-fluid .row{
    padding-bottom: 15px!important;
}

/* Timer & Score */

/* Question number */
.question-number {
    color: #fff;
    font-size: 40px;
    background: #f14100;
    padding: 10px 10px;
    border-radius: 6px;
}

.question {
    color: #fff;
    font-size: 32px;
    border-bottom: 3px solid #f14100;
    text-align: center;
    text-transform: uppercase;
}

.question-p {
    padding-bottom: 15px;
}

/* Question number */

div[data-truth="1"]:focus > div,
div[data-truth="1"]:active > div {
    border: 5px solid lawngreen;
}

.answer-block:hover {
    cursor: pointer;
}

.answers-img-block {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid #f14100;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 35px;
    transition: all .4s;
}

.answers-img-block > img {
    width: 100%;
    height: 100%;
}

.answers-img-block:hover {
    box-shadow: 0 0 0 4px rgba(241, 65, 0, 0.6);
}

.btn.btn-warning.btn-block {
    background: #f14100;
    border-color: #f14100;
    color: #fff;
    font-size: 22px;
}

.btn.btn-warning.btn-block:hover,
.btn.btn-warning.btn-block:focus,
.btn.btn-warning.btn-block:active {
    background: #f14100 !important;
    border-color: #f14100 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0.2rem rgba(241, 65, 0, 0.5);
}

.score-p {
    width: 140px;
    border: 1px solid #f14100;
    background: #f14100;
    border-radius: 10px;
    margin: 50px auto 15px auto;
    padding: 10px 0;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
}

.out-score {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
}

.liders-a {
    display: inline-block;
    background: #f14100;
    padding: 24px 60px;
    margin-top: 30px;
    border-radius: 15px !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
}

.liders-a:hover,
.liders-a:focus,
.liders-a:active {
    color: #fff;
    text-decoration: none;
}

.liders-a + a {
    display: inline-block;
    margin-top: 170px;
}

.regulations-p {
    background: #f14100;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    font-variant: all-petite-caps;
    font-size: 14px;
    letter-spacing: 1px;
}

.regulations-title {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

